:root {
	--color_0: 255, 255, 255;
	--color_1: 255, 255, 255;
	--color_2: 0, 0, 0;
	--color_3: 237, 28, 36;
	--color_4: 0, 136, 203;
	--color_5: 255, 203, 5;
	--color_6: 114, 114, 114;
	--color_7: 176, 176, 176;
	--color_8: 255, 255, 255;
	--color_9: 114, 114, 114;
	--color_10: 176, 176, 176;
	--color_11: 255, 255, 255;
	--color_12: 232, 230, 230;
	--color_13: 199, 199, 199;
	--color_14: 153, 153, 151;
	--color_15: 0, 0, 0;
	--color_16: 170, 197, 255;
	--color_17: 128, 167, 255;
	--color_18: 0, 80, 255;
	--color_19: 0, 53, 170;
	--color_20: 0, 27, 85;
	--color_21: 244, 236, 230;
	--color_22: 230, 218, 206;
	--color_23: 138, 131, 124;
	--color_24: 92, 87, 82;
	--color_25: 46, 44, 41;
	--color_26: 210, 172, 247;
	--color_27: 186, 131, 240;
	--color_28: 128, 21, 232;
	--color_29: 85, 14, 155;
	--color_30: 43, 7, 77;
	--color_31: 177, 211, 187;
	--color_32: 127, 168, 139;
	--color_33: 64, 124, 81;
	--color_34: 43, 83, 54;
	--color_35: 21, 41, 27;
	--font_0: normal normal bold 35px/1.4em poppins-semibold, poppins, sans-serif;
	--font_1: normal normal normal 16px/1.4em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
	--font_2: normal normal bold 25px/1.4em poppins-semibold, poppins, sans-serif;
	--font_3: normal normal bold 100px/1.4em poppins-semibold, poppins, sans-serif;
	--font_4: normal normal bold 27px/1.4em poppins-semibold, poppins, sans-serif;
	--font_5: normal normal bold 25px/1.4em avenir-lt-w01_35-light1475496, sans-serif;
	--font_6: normal normal bold 20px/1.4em poppins-semibold, poppins, sans-serif;
	--font_7: normal normal normal 14px/1.4em avenir-lt-w01_85-heavy1475544, sans-serif;
	--font_8: normal normal normal 17px/1.4em avenir-lt-w01_35-light1475496, sans-serif;
	--font_9: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496, sans-serif;
	--font_10: normal normal normal 12px/1.4em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
	--wix-ads-height: 0px;
	--wix-ads-top-height: 0px;
	--site-width: 980px;
	--above-all-z-index: 100000;
	--minViewportSize: 320;
	--maxViewportSize: 1920
}

.font_0 {
	font: var(--font_0);
	color: rgb(var(--color_15))
}

.font_1 {
	font: var(--font_1);
	color: rgb(var(--color_14))
}

.font_2 {
	font: var(--font_2);
	color: rgb(var(--color_15))
}

.font_3 {
	font: var(--font_3);
	/* color: rgb(var(--color_15)) */
	color: rgb(var(--color_6))
}

.font_4 {
	font: var(--font_4);
	color: rgb(var(--color_15))
}

.font_5 {
	font: var(--font_5);
	color: rgb(var(--color_15))
}

.font_6 {
	font: var(--font_6);
	color: rgb(var(--color_18))
}

.font_7 {
	font: var(--font_7);
	color: rgb(var(--color_15))
}

.font_8 {
	font: var(--font_8);
	color: rgb(var(--color_15))
}

.font_9 {
	font: var(--font_9);
	color: rgb(var(--color_15))
}

.font_10 {
	font: var(--font_10);
	color: rgb(var(--color_14))
}

.color_0 {
	color: rgb(var(--color_0))
}

.color_1 {
	color: rgb(var(--color_1))
}

.color_2 {
	color: rgb(var(--color_2))
}

.color_3 {
	color: rgb(var(--color_3))
}

.color_4 {
	color: rgb(var(--color_4))
}

.color_5 {
	color: rgb(var(--color_5))
}

.color_6 {
	color: rgb(var(--color_6))
}

.color_7 {
	color: rgb(var(--color_7))
}

.color_8 {
	color: rgb(var(--color_8))
}

.color_9 {
	color: rgb(var(--color_9))
}

.color_10 {
	color: rgb(var(--color_10))
}

.color_11 {
	color: rgb(var(--color_11))
}

.color_12 {
	color: rgb(var(--color_12))
}

.color_13 {
	color: rgb(var(--color_13))
}

.color_14 {
	color: rgb(var(--color_14))
}

.color_15 {
	color: rgb(var(--color_15))
}

.color_16 {
	color: rgb(var(--color_16))
}

.color_17 {
	color: rgb(var(--color_17))
}

.color_18 {
	color: rgb(var(--color_18))
}

.color_19 {
	color: rgb(var(--color_19))
}

.color_20 {
	color: rgb(var(--color_20))
}

.color_21 {
	color: rgb(var(--color_21))
}

.color_22 {
	color: rgb(var(--color_22))
}

.color_23 {
	color: rgb(var(--color_23))
}

.color_24 {
	color: rgb(var(--color_24))
}

.color_25 {
	color: rgb(var(--color_25))
}

.color_26 {
	color: rgb(var(--color_26))
}

.color_27 {
	color: rgb(var(--color_27))
}

.color_28 {
	color: rgb(var(--color_28))
}

.color_29 {
	color: rgb(var(--color_29))
}

.color_30 {
	color: rgb(var(--color_30))
}

.color_31 {
	color: rgb(var(--color_31))
}

.color_32 {
	color: rgb(var(--color_32))
}

.color_33 {
	color: rgb(var(--color_33))
}

.color_34 {
	color: rgb(var(--color_34))
}

.color_35 {
	color: rgb(var(--color_35))
}

.backcolor_0 {
	background-color: rgb(var(--color_0))
}

.backcolor_1 {
	background-color: rgb(var(--color_1))
}

.backcolor_2 {
	background-color: rgb(var(--color_2))
}

.backcolor_3 {
	background-color: rgb(var(--color_3))
}

.backcolor_4 {
	background-color: rgb(var(--color_4))
}

.backcolor_5 {
	background-color: rgb(var(--color_5))
}

.backcolor_6 {
	background-color: rgb(var(--color_6))
}

.backcolor_7 {
	background-color: rgb(var(--color_7))
}

.backcolor_8 {
	background-color: rgb(var(--color_8))
}

.backcolor_9 {
	background-color: rgb(var(--color_9))
}

.backcolor_10 {
	background-color: rgb(var(--color_10))
}

.backcolor_11 {
	background-color: rgb(var(--color_11))
}

.backcolor_12 {
	background-color: rgb(var(--color_12))
}

.backcolor_13 {
	background-color: rgb(var(--color_13))
}

.backcolor_14 {
	background-color: rgb(var(--color_14))
}

.backcolor_15 {
	background-color: rgb(var(--color_15))
}

.backcolor_16 {
	background-color: rgb(var(--color_16))
}

.backcolor_17 {
	background-color: rgb(var(--color_17))
}

.backcolor_18 {
	background-color: rgb(var(--color_18))
}

.backcolor_19 {
	background-color: rgb(var(--color_19))
}

.backcolor_20 {
	background-color: rgb(var(--color_20))
}

.backcolor_21 {
	background-color: rgb(var(--color_21))
}

.backcolor_22 {
	background-color: rgb(var(--color_22))
}

.backcolor_23 {
	background-color: rgb(var(--color_23))
}

.backcolor_24 {
	background-color: rgb(var(--color_24))
}

.backcolor_25 {
	background-color: rgb(var(--color_25))
}

.backcolor_26 {
	background-color: rgb(var(--color_26))
}

.backcolor_27 {
	background-color: rgb(var(--color_27))
}

.backcolor_28 {
	background-color: rgb(var(--color_28))
}

.backcolor_29 {
	background-color: rgb(var(--color_29))
}

.backcolor_30 {
	background-color: rgb(var(--color_30))
}

.backcolor_31 {
	background-color: rgb(var(--color_31))
}

.backcolor_32 {
	background-color: rgb(var(--color_32))
}

.backcolor_33 {
	background-color: rgb(var(--color_33))
}

.backcolor_34 {
	background-color: rgb(var(--color_34))
}

.backcolor_35 {
	background-color: rgb(var(--color_35))
}

#SITE_CONTAINER.focus-ring-active :not(.has-custom-focus):not(.ignore-focus):focus,
#SITE_CONTAINER.focus-ring-active :not(.has-custom-focus):not(.ignore-focus):focus~.wixSdkShowFocusOnSibling {
	box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #116dff !important;
	z-index: 999
}

[data-mesh-id=SITE_HEADERinlineContent] {
	height: auto;
	width: 100%
}

[data-mesh-id=SITE_HEADERinlineContent-gridContainer] {
	position: static;
	display: grid;
	height: auto;
	width: 100%;
	min-height: auto;
	grid-template-rows: 1fr;
	grid-template-columns: 100%
}

[data-mesh-id=SITE_HEADERinlineContent-gridContainer]>[id="comp-k99pg7y4"] {
	position: relative;
	margin: 0px 0px 2px calc((100% - 980px) * 0.5);
	left: 0px;
	grid-area: 1 / 1 / 2 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=SITE_FOOTERinlineContent] {
	height: auto;
	width: 100%
}

[data-mesh-id=SITE_FOOTERinlineContent-gridContainer] {
	position: static;
	display: grid;
	height: auto;
	width: 100%;
	min-height: auto;
	grid-template-rows: 1fr;
	grid-template-columns: 100%
}

[data-mesh-id=SITE_FOOTERinlineContent-gridContainer]>[id="comp-k0kphh2d"] {
	position: relative;
	margin: 0px 0px 1px calc((100% - 980px) * 0.5);
	left: 0px;
	grid-area: 1 / 1 / 2 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k99pg7zyinlineContent] {
	height: auto;
	width: 100%
}

[data-mesh-id=comp-k99pg7zyinlineContent-gridContainer] {
	position: static;
	display: grid;
	height: auto;
	width: 100%;
	min-height: auto;
	grid-template-rows: 1fr;
	grid-template-columns: 100%
}

[data-mesh-id=comp-k99pg7zyinlineContent-gridContainer]>[id="comp-k0kxi2bz"] {
	position: relative;
	margin: 51px 0px 55px calc((100% - 490px) * 0);
	left: 49px;
	grid-area: 1 / 1 / 2 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k99pg7zyinlineContent-gridContainer]>[id="comp-k0kr12fe"] {
	position: relative;
	margin: 47px 0px 50px calc((100% - 490px) * 0);
	left: 75px;
	grid-area: 1 / 1 / 2 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k99pg7zyinlineContent-gridContainer]>[id="comp-k8h8dip9"] {
	position: relative;
	margin: 55px 0px 53px calc((100% - 490px) * 0);
	left: 251px;
	grid-area: 1 / 1 / 2 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k99pg7zyinlineContent-gridContainer]>[id="comp-k0kr2gq3"] {
	position: relative;
	margin: 44px 0px 49px calc((100% - 490px) * 0);
	left: 264px;
	grid-area: 1 / 1 / 2 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k99pgiwxinlineContent] {
	height: auto;
	width: 100%
}

[data-mesh-id=comp-k99pgiwxinlineContent-gridContainer] {
	position: static;
	display: grid;
	height: auto;
	width: 100%;
	min-height: auto;
	grid-template-rows: 1fr;
	grid-template-columns: 100%
}

[data-mesh-id=comp-k99pgiwxinlineContent-gridContainer]>[id="comp-k0ktncj6"] {
	position: relative;
	margin: 37px 0px 50px calc((100% - 490px) * 1);
	left: -4px;
	grid-area: 1 / 1 / 2 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k0kphh32inlineContent] {
	height: auto;
	width: 100%
}

[data-mesh-id=comp-k0kphh32inlineContent-gridContainer] {
	position: static;
	display: grid;
	height: auto;
	width: 100%;
	min-height: 154px;
	grid-template-rows: 1fr;
	grid-template-columns: 100%
}

[data-mesh-id=comp-k0kphh32inlineContent-gridContainer]>[id="comp-k2398tck"] {
	position: relative;
	margin: 43px 0px 10px calc((100% - 392px) * 0);
	left: 49px;
	grid-area: 1 / 1 / 2 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k0kpi3muinlineContent] {
	height: auto;
	width: 100%
}

[data-mesh-id=comp-k0kpi3muinlineContent-gridContainer] {
	position: static;
	display: grid;
	height: auto;
	width: 100%;
	min-height: 154px;
	grid-template-rows: min-content 1fr;
	grid-template-columns: 100%
}

[data-mesh-id=comp-k0kpi3muinlineContent-gridContainer]>[id="comp-k0kuqn3x"] {
	position: relative;
	margin: 30px 0px 6px calc((100% - 588px) * 1);
	left: 28px;
	grid-area: 1 / 1 / 2 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k0kpi3muinlineContent-gridContainer]>[id="comp-k0kupecu"] {
	position: relative;
	margin: 2px 0px 10px calc((100% - 588px) * 1);
	left: 28px;
	grid-area: 2 / 1 / 3 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k0kpi3muinlineContent-gridContainer]>[id="comp-k0kuuwv2"] {
	position: relative;
	margin: 30px 0px 6px calc((100% - 588px) * 1);
	left: 207px;
	grid-area: 1 / 1 / 2 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k0kpi3muinlineContent-gridContainer]>[id="comp-k0kuuwvk"] {
	position: relative;
	margin: 2px 0px 10px calc((100% - 588px) * 1);
	left: 207px;
	grid-area: 2 / 1 / 3 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k0kpi3muinlineContent-gridContainer]>[id="comp-k0kuvsds"] {
	position: relative;
	margin: 29px 0px 7px calc((100% - 588px) * 1);
	left: 399px;
	grid-area: 1 / 1 / 2 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k0kpi3muinlineContent-gridContainer]>[id="comp-k0kux795"] {
	position: relative;
	margin: 0px 0px 10px calc((100% - 588px) * 1);
	left: 408px;
	grid-area: 2 / 1 / 3 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k0kxi2bzinlineContent] {
	height: auto;
	width: 100%;
	position: static;
	min-height: 16px
}

#masterPage {
	left: 0;
	margin-left: 0;
	width: 100%;
	min-width: 980px
}

#SITE_HEADER {
	left: 0;
	margin-left: 0;
	width: 100%;
	min-width: 980px;
	z-index: 50;
	--above-all-in-container: 10000
}

#PAGES_CONTAINER {
	left: 0;
	margin-left: 0;
	width: 100%;
	min-width: 980px;
	--pinned-layer-in-container: 51;
	--above-all-in-container: 49
}

#SITE_FOOTER {
	left: 0;
	margin-left: 0;
	width: 100%;
	min-width: 980px;
	--pinned-layer-in-container: 52;
	--above-all-in-container: 49
}

#comp-k99pg7y4 {
	left: 0;
	margin-left: 0;
	width: 100%;
	min-width: 980px
}

#SITE_PAGES {
	left: 0;
	margin-left: 0;
	width: 100%;
	min-width: 980px
}

#comp-k0kphh2d {
	left: 0;
	margin-left: 0;
	width: 100%;
	min-width: 980px
}

#comp-k99pg7zy {
	width: 490px
}

#comp-k99pgiwx {
	width: 490px
}

#comp-k0kphh32 {
	width: 392px
}

#comp-k0kpi3mu {
	width: 588px
}

#comp-k0kxi2bz {
	width: 16px
}

#comp-k0kr12fe {
	width: 169px;
	height: 25px
}

#comp-k8h8dip9 {
	width: 6px;
	height: 14px
}

#comp-k0kr2gq3 {
	width: 227px;
	height: 29px
}

#comp-k0ktncj6 {
	width: 451px;
	height: 35px
}

#comp-k2398tck {
	width: 345px;
	height: 17px
}

#comp-k0kuqn3x {
	width: 151px;
	height: 17px
}

#comp-k0kupecu {
	width: 151px;
	height: 17px
}

#comp-k0kuuwv2 {
	width: 151px;
	height: 17px
}

#comp-k0kuuwvk {
	width: 160px;
	height: 17px
}

#comp-k0kuvsds {
	width: 101px;
	height: 17px
}

#comp-k0kux795 {
	width: 79px;
	height: 19px
}

#SITE_HEADER-placeholder {
	height: 124px
}

#masterPage.landingPage #SITE_HEADER {
	display: none
}

#masterPage.landingPage #SITE_FOOTER {
	display: none
}

#masterPage.landingPage #SITE_HEADER-placeholder {
	display: none
}

#masterPage.landingPage #SITE_FOOTER-placeholder {
	display: none
}

#masterPage:not(.landingPage) #PAGES_CONTAINER {
	margin-top: 0px;
	margin-bottom: 0px
}

@font-face {
	font-display: block;
	font-family: "Poppins-SemiBold";
	src: url("http://fonts.gstatic.com/s/poppins/v5/9VWMTeb5jtXkNoTv949NpVQlYEbsez9cZjKsNMjLOwM.eot?#iefix");
	src: url("http://fonts.gstatic.com/s/poppins/v5/9VWMTeb5jtXkNoTv949NpVQlYEbsez9cZjKsNMjLOwM.eot?#iefix") format("eot"), url("http://fonts.gstatic.com/s/poppins/v5/9VWMTeb5jtXkNoTv949Npfk_vArhqVIZ0nv9q090hN8.woff2") format("woff2"), url("http://fonts.gstatic.com/s/poppins/v5/9VWMTeb5jtXkNoTv949NpRsxEYwM7FgeyaSgU71cLG0.woff") format("woff"), url("http://fonts.gstatic.com/s/poppins/v5/9VWMTeb5jtXkNoTv949NpS3USBnSvpkopQaUR-2r7iU.ttf") format("truetype"), url("http://fonts.gstatic.com/l/font?kit=9VWMTeb5jtXkNoTv949NpaWUboTb-jS2tyCOQMtm97g&skey=ce7ef9d62ca89319&v=v5#Poppins") format("svg");
}

@font-face {
	font-display: block;
	font-family: "Poppins-SemiBold";
	font-weight: 700;
	src: url("http://fonts.gstatic.com/s/poppins/v5/aDjpMND83pDErGXlVEr-SVQlYEbsez9cZjKsNMjLOwM.eot?#iefix");
	src: url("http://fonts.gstatic.com/s/poppins/v5/aDjpMND83pDErGXlVEr-SVQlYEbsez9cZjKsNMjLOwM.eot?#iefix") format("eot"), url("http://fonts.gstatic.com/s/poppins/v5/aDjpMND83pDErGXlVEr-Sfk_vArhqVIZ0nv9q090hN8.woff2") format("woff2"), url("http://fonts.gstatic.com/s/poppins/v5/aDjpMND83pDErGXlVEr-SRsxEYwM7FgeyaSgU71cLG0.woff") format("woff"), url("http://fonts.gstatic.com/s/poppins/v5/aDjpMND83pDErGXlVEr-SS3USBnSvpkopQaUR-2r7iU.ttf") format("truetype"), url("http://fonts.gstatic.com/l/font?kit=aDjpMND83pDErGXlVEr-SaWUboTb-jS2tyCOQMtm97g&skey=cea76fe63715a67a&v=v5#Poppins") format("svg");
}

@font-face {
	font-display: block;
	font-family: "Poppins-SemiBold";
	font-style: italic;
	src: url("http://fonts.gstatic.com/s/poppins/v5/RbebACOccNN-5ixkDIVLjalSqKUsDpiXlwfj-ZM2w_A.eot?#iefix");
	src: url("http://fonts.gstatic.com/s/poppins/v5/RbebACOccNN-5ixkDIVLjalSqKUsDpiXlwfj-ZM2w_A.eot?#iefix") format("eot"), url("http://fonts.gstatic.com/s/poppins/v5/RbebACOccNN-5ixkDIVLjRUOjZSKWg4xBWp_C_qQx0o.woff2") format("woff2"), url("http://fonts.gstatic.com/s/poppins/v5/RbebACOccNN-5ixkDIVLjRa1RVmPjeKy21_GQJaLlJI.woff") format("woff"), url("http://fonts.gstatic.com/s/poppins/v5/RbebACOccNN-5ixkDIVLjdqQynqKV_9Plp7mupa0S4g.ttf") format("truetype"), url("http://fonts.gstatic.com/l/font?kit=RbebACOccNN-5ixkDIVLjd1LKoZ82bBu2f46DhHcs3c&skey=7fbc556774b13ef0&v=v5#Poppins") format("svg");
}

@font-face {
	font-display: block;
	font-family: "Poppins-SemiBold";
	font-weight: 700;
	font-style: italic;
	src: url("http://fonts.gstatic.com/s/poppins/v5/c4FPK8_hIFKoX59qcGwdCqlSqKUsDpiXlwfj-ZM2w_A.eot?#iefix");
	src: url("http://fonts.gstatic.com/s/poppins/v5/c4FPK8_hIFKoX59qcGwdCqlSqKUsDpiXlwfj-ZM2w_A.eot?#iefix") format("eot"), url("http://fonts.gstatic.com/s/poppins/v5/c4FPK8_hIFKoX59qcGwdChUOjZSKWg4xBWp_C_qQx0o.woff2") format("woff2"), url("http://fonts.gstatic.com/s/poppins/v5/c4FPK8_hIFKoX59qcGwdCha1RVmPjeKy21_GQJaLlJI.woff") format("woff"), url("http://fonts.gstatic.com/s/poppins/v5/c4FPK8_hIFKoX59qcGwdCtqQynqKV_9Plp7mupa0S4g.ttf") format("truetype"), url("http://fonts.gstatic.com/l/font?kit=c4FPK8_hIFKoX59qcGwdCt1LKoZ82bBu2f46DhHcs3c&skey=29c3bd833a54ba8c&v=v5#Poppins") format("svg");
}

@font-face {
	font-display: block;
	font-family: 'Poppins';
	font-style: italic;
	font-weight: 400;
	src: local('Poppins Italic'), local('Poppins-Italic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrJJLucXtAOvWDSHFF.woff2) format('woff2');
	unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

@font-face {
	font-display: block;
	font-family: 'Poppins';
	font-style: italic;
	font-weight: 400;
	src: local('Poppins Italic'), local('Poppins-Italic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrJJLufntAOvWDSHFF.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-display: block;
	font-family: 'Poppins';
	font-style: italic;
	font-weight: 400;
	src: local('Poppins Italic'), local('Poppins-Italic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrJJLucHtAOvWDSA.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-display: block;
	font-family: 'Poppins';
	font-style: italic;
	font-weight: 700;
	src: local('Poppins Bold Italic'), local('Poppins-BoldItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmy15VFteOYktMqlap.woff2) format('woff2');
	unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

@font-face {
	font-display: block;
	font-family: 'Poppins';
	font-style: italic;
	font-weight: 700;
	src: local('Poppins Bold Italic'), local('Poppins-BoldItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmy15VGdeOYktMqlap.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-display: block;
	font-family: 'Poppins';
	font-style: italic;
	font-weight: 700;
	src: local('Poppins Bold Italic'), local('Poppins-BoldItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmy15VF9eOYktMqg.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-display: block;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
	unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

@font-face {
	font-display: block;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-display: block;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-display: block;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7Z11lFd2JQEl8qw.woff2) format('woff2');
	unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

@font-face {
	font-display: block;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-display: block;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-display: block;
	font-family: "DIN-Next-W01-Light";
	src: url("http://static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3e0b2cd7-9657-438b-b4af-e04122e8f1f7.eot?#iefix");
	src: url("http://static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3e0b2cd7-9657-438b-b4af-e04122e8f1f7.eot?#iefix") format("eot"), url("http://static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/bc176270-17fa-4c78-a343-9fe52824e501.woff") format("woff"), url("http://static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3516f91d-ac48-42cd-acfe-1be691152cc4.ttf") format("truetype"), url("http://static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/d1b1e866-a411-42ba-8f75-72bf28e23694.svg#d1b1e866-a411-42ba-8f75-72bf28e23694") format("svg");
}

@font-face {
	font-display: block;
	font-family: "DIN-Next-W02-Light";
	src: url("http://static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/48e5a0e1-2d56-46e5-8fc4-3d6d5c973cbf.eot?#iefix");
	src: url("http://static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/48e5a0e1-2d56-46e5-8fc4-3d6d5c973cbf.eot?#iefix") format("eot"), url("http://static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/07d62b21-8d7a-4c36-be86-d32ab1089972.woff") format("woff"), url("http://static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/c0050890-bbed-44b9-94df-2611d72dbb06.ttf") format("truetype"), url("http://static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/9f774d17-c03a-418e-a375-34f3beecbc7a.svg#9f774d17-c03a-418e-a375-34f3beecbc7a") format("svg");
}

@font-face {
	font-display: block;
	font-family: "DIN-Next-W10-Light";
	src: url("http://static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3d009cd7-c8fe-40c0-93da-74f4ea8c530b.eot?#iefix");
	src: url("http://static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3d009cd7-c8fe-40c0-93da-74f4ea8c530b.eot?#iefix") format("eot"), url("http://static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/a9e95a29-98a7-404a-90ee-1929ad09c696.woff") format("woff"), url("http://static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/0a7663fd-eae8-4e50-a67a-225271f8cceb.ttf") format("truetype"), url("http://static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/58ae9be9-5d95-44b6-8b6c-e6da6a46822c.svg#58ae9be9-5d95-44b6-8b6c-e6da6a46822c") format("svg");
}

@font-face {
	font-display: block;
	font-family: "Avenir-LT-W01_35-Light1475496";
	src: url("http://static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix");
	src: url("http://static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix") format("eot"), url("http://static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/0078f486-8e52-42c0-ad81-3c8d3d43f48e.woff2") format("woff2"), url("http://static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/908c4810-64db-4b46-bb8e-823eb41f68c0.woff") format("woff"), url("http://static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/4577388c-510f-4366-addb-8b663bcc762a.ttf") format("truetype"), url("http://static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/b0268c31-e450-4159-bfea-e0d20e2b5c0c.svg#b0268c31-e450-4159-bfea-e0d20e2b5c0c") format("svg");
}

@font-face {
	font-display: block;
	font-family: "Avenir-LT-W01_85-Heavy1475544";
	src: url("http://static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix");
	src: url("http://static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix") format("eot"), url("http://static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/d513e15e-8f35-4129-ad05-481815e52625.woff2") format("woff2"), url("http://static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/61bd362e-7162-46bd-b67e-28f366c4afbe.woff") format("woff"), url("http://static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/ccd17c6b-e7ed-4b73-b0d2-76712a4ef46b.ttf") format("truetype"), url("http://static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/20577853-40a7-4ada-a3fb-dd6e9392f401.svg#20577853-40a7-4ada-a3fb-dd6e9392f401") format("svg");
}

#SITE_HEADER {
	--bg: var(--color_11);
	--shd: none;
	--brwt: 0px;
	--brd: var(--color_11);
	--brwb: 0px;
	--bgctr: var(--color_11);
	--rd: 0px;
	--boxShadowToggleOn-shd: none;
	--alpha-brd: 1;
	--alpha-bgctr: 1;
	--alpha-bg: 1;
	--shc-mutated-brightness: 128, 128, 128;
	position: fixed !important;
	margin-top: var(--wix-ads-top-height);
	top: 0
}

#comp-k99pg7y4 {
	--bg-overlay-color: transparent;
	--padding: 0px;
	--margin: 0px;
	min-width: 980px
}

#SITE_PAGES {
	--transition-duration: 700ms
}

#comp-k0kphh2d {
	--bg-overlay-color: transparent;
	--padding: 0px;
	--margin: 0px;
	min-width: 980px
}

#comp-k99pg7zy {
	--bg-overlay-color: rgb(var(--color_11));
	width: 100%;
	--column-width: 490px;
	--column-flex: 490
}

#comp-k99pgiwx {
	--bg-overlay-color: rgb(var(--color_11));
	width: 100%;
	--column-width: 490px;
	--column-flex: 490
}

#comp-k0kphh32 {
	--bg-overlay-color: rgb(var(--color_11));
	width: 100%;
	--column-width: 392px;
	--column-flex: 392
}

#comp-k0kpi3mu {
	--bg-overlay-color: rgb(var(--color_11));
	width: 100%;
	--column-width: 588px;
	--column-flex: 588
}

#comp-k0kxi2bz {
	--brw: 0px;
	--brd: 162, 163, 233;
	--bg: 162, 163, 233;
	--rd: 0px 0px 30px 0px;
	--shd: none;
	--alpha-bg: 1;
	--alpha-brd: 1;
	--boxShadowToggleOn-shd: none;
	--shc-mutated-brightness: 81, 82, 117
}

#comp-k0kr12fe {
	--f10: var(--font_10);
	--f0: var(--font_0);
	--f1: var(--font_1);
	--f2: var(--font_2);
	--f3: var(--font_3);
	--f4: var(--font_4);
	--f5: var(--font_5);
	--f6: var(--font_6);
	--f7: var(--font_7);
	--f8: var(--font_8);
	--f9: var(--font_9);
	height: auto
}

#comp-k8h8dip9 {
	--opacity: 1
}

#comp-k0kr2gq3 {
	--f10: var(--font_10);
	--f0: var(--font_0);
	--f1: var(--font_1);
	--f2: var(--font_2);
	--f3: var(--font_3);
	--f4: var(--font_4);
	--f5: var(--font_5);
	--f6: var(--font_6);
	--f7: var(--font_7);
	--f8: var(--font_8);
	--f9: var(--font_9);
	height: auto
}

#comp-k0ktncj6 {
	--menuTotalBordersX: 0px;
	--menuTotalBordersY: 0px;
	--bgDrop: var(--color_11);
	--rd: 0px;
	--shd: none;
	--pad: 4px;
	--fnt: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496, sans-serif;
	--brd: var(--color_15);
	--txt: var(--color_15);
	--alpha-txt: 1;
	--brdh: var(--color_22);
	--txth: var(--color_5);
	--alpha-txth: 1;
	--brds: var(--color_22);
	--txts: var(--color_5);
	--alpha-txts: 1;
	--boxShadowToggleOn-shd: none;
	--alpha-bgDrop: 1;
	--alpha-brdh: 0;
	--alpha-brd: 0;
	--alpha-brds: 0
}

#comp-k2398tck {
	--f10: var(--font_10);
	--f0: var(--font_0);
	--f1: var(--font_1);
	--f2: var(--font_2);
	--f3: var(--font_3);
	--f4: var(--font_4);
	--f5: var(--font_5);
	--f6: var(--font_6);
	--f7: var(--font_7);
	--f8: var(--font_8);
	--f9: var(--font_9);
	min-height: 17px;
	height: auto
}

#comp-k0kuqn3x {
	--f10: var(--font_10);
	--f0: var(--font_0);
	--f1: var(--font_1);
	--f2: var(--font_2);
	--f3: var(--font_3);
	--f4: var(--font_4);
	--f5: var(--font_5);
	--f6: var(--font_6);
	--f7: var(--font_7);
	--f8: var(--font_8);
	--f9: var(--font_9);
	height: auto
}

#comp-k0kupecu {
	--f10: var(--font_10);
	--f0: var(--font_0);
	--f1: var(--font_1);
	--f2: var(--font_2);
	--f3: var(--font_3);
	--f4: var(--font_4);
	--f5: var(--font_5);
	--f6: var(--font_6);
	--f7: var(--font_7);
	--f8: var(--font_8);
	--f9: var(--font_9);
	height: auto
}

#comp-k0kuuwv2 {
	--f10: var(--font_10);
	--f0: var(--font_0);
	--f1: var(--font_1);
	--f2: var(--font_2);
	--f3: var(--font_3);
	--f4: var(--font_4);
	--f5: var(--font_5);
	--f6: var(--font_6);
	--f7: var(--font_7);
	--f8: var(--font_8);
	--f9: var(--font_9);
	height: auto
}

#comp-k0kuuwvk {
	--f10: var(--font_10);
	--f0: var(--font_0);
	--f1: var(--font_1);
	--f2: var(--font_2);
	--f3: var(--font_3);
	--f4: var(--font_4);
	--f5: var(--font_5);
	--f6: var(--font_6);
	--f7: var(--font_7);
	--f8: var(--font_8);
	--f9: var(--font_9);
	min-height: 17px;
	height: auto
}

#comp-k0kuvsds {
	--f10: var(--font_10);
	--f0: var(--font_0);
	--f1: var(--font_1);
	--f2: var(--font_2);
	--f3: var(--font_3);
	--f4: var(--font_4);
	--f5: var(--font_5);
	--f6: var(--font_6);
	--f7: var(--font_7);
	--f8: var(--font_8);
	--f9: var(--font_9);
	height: auto
}

#comp-k0kux795 {
	--item-size: 19px;
	--item-margin: 0 11px 0 0;
	--item-display: inline-block;
	width: 79px;
	height: 19px
}

#BACKGROUND_GROUP {
	--transition-duration: 700ms
}



[data-mesh-id=comp-k0med55ginlineContent] {
	height: auto;
	width: 100%;
	position: static;
	/* min-height: 1036px */
}

[data-mesh-id=comp-k238y4rqinlineContent] {
	height: auto;
	width: 100%
}

[data-mesh-id=comp-k238y4rqinlineContent-gridContainer] {
	position: static;
	display: grid;
	height: auto;
	width: 100%;
	min-height: auto;
	grid-template-rows: min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content 1fr;
	grid-template-columns: 100%
}

[data-mesh-id=comp-k238y4rqinlineContent-gridContainer]>[id="comp-k0med55z"] {
	position: relative;
	margin: 240px 0px 36px calc((100% - 980px) * 0.5);
	left: 35px;
	grid-area: 1 / 1 / 6 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k238y4rqinlineContent-gridContainer]>[id="comp-k0med55k"] {
	position: relative;
	margin: 262px 0px 48px calc((100% - 980px) * 0.5);
	left: 444px;
	grid-area: 1 / 1 / 2 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k238y4rqinlineContent-gridContainer]>[id="comp-k0med55w"] {
	position: relative;
	margin: 0px 0px 10px calc((100% - 980px) * 0.5);
	left: 444px;
	grid-area: 2 / 1 / 3 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k238y4rqinlineContent-gridContainer]>[id="comp-k0med55p"] {
	position: relative;
	margin: 2px 0px 10px calc((100% - 980px) * 0.5);
	left: 444px;
	grid-area: 4 / 1 / 5 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k238y4rqinlineContent-gridContainer]>[id="comp-k0med55t"] {
	position: relative;
	margin: 2px 0px 10px calc((100% - 980px) * 0.5);
	left: 623px;
	grid-area: 4 / 1 / 5 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k238y4rqinlineContent-gridContainer]>[id="comp-kdhs6yca"] {
	position: relative;
	margin: 0px 0px 10px calc((100% - 980px) * 0.5);
	left: 803px;
	grid-area: 4 / 1 / 5 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k238y4rqinlineContent-gridContainer]>[id="comp-kdhymjjn"] {
	position: relative;
	margin: 0px 0px 8px calc((100% - 980px) * 0.5);
	left: 35px;
	grid-area: 6 / 1 / 7 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k238y4rqinlineContent-gridContainer]>[id="comp-kdhzfy34"] {
	position: relative;
	margin: 0px 0px 30px calc((100% - 980px) * 0.5);
	left: 159px;
	grid-area: 7 / 1 / 8 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k238y4rqinlineContent-gridContainer]>[id="comp-kdhyrc1t"] {
	position: relative;
	margin: 0px 0px 37px calc((100% - 980px) * 0.5);
	left: 191px;
	grid-area: 8 / 1 / 9 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k238y4rqinlineContent-gridContainer]>[id="comp-kdhzw57t"] {
	position: relative;
	margin: 0px 0px 37px calc((100% - 980px) * 0.5);
	left: 159px;
	grid-area: 9 / 1 / 10 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k238y4rqinlineContent-gridContainer]>[id="comp-kdhzeoml"] {
	position: relative;
	margin: 0px 0px 33px calc((100% - 980px) * 0.5);
	left: 159px;
	grid-area: 10 / 1 / 11 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k238y4rqinlineContent-gridContainer]>[id="comp-kdhztxor"] {
	position: relative;
	margin: 0px 0px 25px calc((100% - 980px) * 0.5);
	left: 191px;
	grid-area: 11 / 1 / 12 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k238y4rqinlineContent-gridContainer]>[id="comp-kdi08zy5"] {
	position: relative;
	margin: 0px 0px 40px calc((100% - 980px) * 0.5);
	left: 191px;
	grid-area: 12 / 1 / 13 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k238y4rqinlineContent-gridContainer]>[id="comp-kdhyxzay"] {
	position: relative;
	margin: 0px 0px 10px calc((100% - 980px) * 0.5);
	left: 159px;
	grid-area: 13 / 1 / 14 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k238y4rqinlineContent-gridContainer]>[id="comp-kdi27ax8"] {
	position: relative;
	margin: 0px 0px 10px calc((100% - 980px) * 0.5);
	left: 220px;
	grid-area: 14 / 1 / 15 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k238y4rqinlineContent-gridContainer]>[id="comp-kdi2itjo"] {
	position: relative;
	margin: 0px 0px 8px calc((100% - 980px) * 0.5);
	left: 191px;
	grid-area: 15 / 1 / 16 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k238y4rqinlineContent-gridContainer]>[id="comp-kdi2ace2"] {
	position: relative;
	margin: 0px 0px 10px calc((100% - 980px) * 0.5);
	left: 563px;
	grid-area: 14 / 1 / 15 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k238y4rqinlineContent-gridContainer]>[id="comp-kdi2itju"] {
	position: relative;
	margin: 0px 0px 8px calc((100% - 980px) * 0.5);
	left: 527px;
	grid-area: 15 / 1 / 16 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k238y4rqinlineContent-gridContainer]>[id="comp-kdi0oup5"] {
	position: relative;
	margin: 0px 0px 32px calc((100% - 980px) * 0.5);
	left: 35px;
	grid-area: 16 / 1 / 17 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k238y4rqinlineContent-gridContainer]>[id="comp-kdi0ufn4"] {
	position: relative;
	margin: 0px 0px 18px calc((100% - 980px) * 0.5);
	left: 159px;
	grid-area: 17 / 1 / 18 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k238y4rqinlineContent-gridContainer]>[id="comp-kdi0vs51"] {
	position: relative;
	margin: 0px 0px 50px calc((100% - 980px) * 0.5);
	left: 191px;
	grid-area: 18 / 1 / 19 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k238y4rqinlineContent-gridContainer]>[id="comp-kdi1fokn"] {
	position: relative;
	margin: 0px 0px 29px calc((100% - 980px) * 0.5);
	left: 187px;
	grid-area: 19 / 1 / 20 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k238y4rqinlineContent-gridContainer]>[id="comp-kdi0vs5j"] {
	position: relative;
	margin: 0px 0px 56px calc((100% - 980px) * 0.5);
	left: 44px;
	grid-area: 20 / 1 / 21 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k238y4rqinlineContent-gridContainer]>[id="comp-kdi1lhfu"] {
	position: relative;
	margin: 181px 0px 10px calc((100% - 980px) * 0.5);
	left: 464px;
	grid-area: 20 / 1 / 21 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k238y4rqinlineContent-gridContainer]>[id="comp-kdi1bi5w"] {
	position: relative;
	margin: 159px 0px 10px calc((100% - 980px) * 0.5);
	left: 83px;
	grid-area: 21 / 1 / 22 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k238y4rqinlineContent-gridContainer]>[id="comp-kdi0vs5f"] {
	position: relative;
	margin: 0px 0px 52px calc((100% - 980px) * 0.5);
	left: 464px;
	grid-area: 21 / 1 / 22 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k238y4rqinlineContent-gridContainer]>[id="comp-kdi1pw02"] {
	position: relative;
	margin: 0px 0px 35px calc((100% - 980px) * 0.5);
	left: 83px;
	grid-area: 22 / 1 / 23 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k238y4rqinlineContent-gridContainer]>[id="comp-kdi1th3z"] {
	position: relative;
	margin: 0px 0px 35px calc((100% - 980px) * 0.5);
	left: 108px;
	grid-area: 23 / 1 / 24 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k238y4rqinlineContent-gridContainer]>[id="comp-kdi23upl"] {
	position: relative;
	margin: 103px 0px 10px calc((100% - 980px) * 0.5);
	left: 531px;
	grid-area: 23 / 1 / 24 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k238y4rqinlineContent-gridContainer]>[id="comp-kdi1zdap"] {
	position: relative;
	margin: 125px 0px 10px calc((100% - 980px) * 0.5);
	left: 112px;
	grid-area: 24 / 1 / 25 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k238y4rqinlineContent-gridContainer]>[id="comp-kdi1th3m"] {
	position: relative;
	margin: 0px 0px 10px calc((100% - 980px) * 0.5);
	left: 464px;
	grid-area: 24 / 1 / 25 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k238y4rqinlineContent-wedge-4] {
	visibility: hidden;
	height: 599px;
	width: 0;
	grid-area: 1 / 1 / 4 / 2
}

[data-mesh-id=comp-k0med55zinlineContent] {
	height: auto;
	width: 375px
}

[data-mesh-id=comp-k0med55zinlineContent-gridContainer] {
	position: static;
	display: grid;
	height: auto;
	width: 100%;
	min-height: auto;
	grid-template-rows: min-content min-content min-content min-content 1fr;
	grid-template-columns: 100%
}

[data-mesh-id=comp-k0med55zinlineContent-gridContainer]>[id="comp-k28qs1lv"] {
	position: relative;
	margin: 43px 0px 34px 0;
	left: 81px;
	grid-area: 1 / 1 / 2 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k0med55zinlineContent-gridContainer]>[id="comp-k0med568"] {
	position: relative;
	margin: 0px 0px 25px 0;
	left: 99px;
	grid-area: 2 / 1 / 3 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k0med55zinlineContent-gridContainer]>[id="comp-k0med56b"] {
	position: relative;
	margin: 0px 0px 25px 0;
	left: 160px;
	grid-area: 3 / 1 / 4 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k0med55zinlineContent-gridContainer]>[id="comp-k0med56k"] {
	position: relative;
	margin: 0px 0px 51px 0;
	left: 49px;
	grid-area: 4 / 1 / 5 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k0med55zinlineContent-gridContainer]>[id="comp-k0med56n"] {
	position: relative;
	margin: 0px 0px 0px 0;
	left: 0px;
	grid-area: 5 / 1 / 6 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=comp-k0med56ninlineContent] {
	height: auto;
	width: 375px
}

[data-mesh-id=comp-k0med56ninlineContent-gridContainer] {
	position: static;
	display: grid;
	height: auto;
	width: 100%;
	min-height: auto;
	grid-template-rows: 1fr;
	grid-template-columns: 100%
}

[data-mesh-id=comp-k0med56ninlineContent-gridContainer]>[id="comp-k0med56p"] {
	position: relative;
	margin: 14px 0px 14px 0;
	left: 128px;
	grid-area: 1 / 1 / 2 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=Containerklk7ainlineContent] {
	height: auto;
	width: 100%;
	display: flex
}

[data-mesh-id=Containerklk7ainlineContent-gridContainer] {
	position: static;
	display: grid;
	height: auto;
	width: 100%;
	min-height: 757px;
	margin-top: -207px;
	grid-template-rows: 1fr;
	grid-template-columns: 100%;
	padding-bottom: 0px;
	box-sizing: border-box
}

[data-mesh-id=Containerklk7ainlineContent-gridContainer]>[id="comp-k0med54x"] {
	position: relative;
	margin: 0px 0px 10px calc((100% - 980px) * 0.5);
	left: 0px;
	grid-area: 1 / 1 / 2 / 2;
	justify-self: start;
	align-self: start
}

[data-mesh-id=Containerklk7ainlineContent-gridContainer]>[id="comp-k238y4od"] {
	position: relative;
	margin: 7px 0px 0 calc((100% - 980px) * 0.5);
	left: 0px;
	grid-area: 1 / 1 / 2 / 2;
	justify-self: start;
	align-self: start
}

#klk7a {
	left: 0;
	margin-left: 0;
	width: 100%;
	min-width: 980px
}

#comp-k0med54x {
	left: 0;
	margin-left: 0;
	width: 100%;
	min-width: 980px
}

#comp-k238y4od {
	left: 0;
	margin-left: 0;
	width: 100%;
	min-width: 980px
}

#comp-k0med55g {
	width: 980px
}

#comp-k238y4rq {
	width: 980px
}

#comp-k0med55z {
	width: 375px
}

#comp-k0med55k {
	width: 500px;
	height: 130px
}

#comp-k0med55w {
	width: 500px;
	height: 75px
}

#comp-k0med55p {
	width: 130px;
	height: 35px
}

#comp-k0med55t {
	width: 130px;
	height: 35px
}

#comp-kdhs6yca {
	width: 142px;
	height: 40px
}

#comp-kdhymjjn {
	width: 909px;
	height: 95px
}

#comp-kdhzfy34 {
	width: 661px;
	height: 40px
}

#comp-kdhyrc1t {
	width: 600px;
	height: 388px
}

#comp-kdhzw57t {
	width: 661px;
	height: 160px
}

#comp-kdhzeoml {
	width: 661px;
	height: 40px
}

#comp-kdhztxor {
	width: 600px;
	height: 337px
}

#comp-kdi08zy5 {
	width: 600px;
	height: 363px
}

#comp-kdhyxzay {
	width: 661px;
	height: 60px
}

#comp-kdi27ax8 {
	width: 188px;
	height: 227px
}

#comp-kdi2itjo {
	width: 249px;
	height: 165px
}

#comp-kdi2ace2 {
	width: 192px;
	height: 227px
}

#comp-kdi2itju {
	width: 263px;
	height: 165px
}

#comp-kdi0oup5 {
	width: 909px;
	height: 150px
}

#comp-kdi0ufn4 {
	width: 311px;
	height: 80px
}

#comp-kdi0vs51 {
	width: 600px;
	height: 751px
}

#comp-kdi1fokn {
	width: 600px;
	height: 96px
}

#comp-kdi0vs5j {
	width: 400px;
	height: 500px
}

#comp-kdi1lhfu {
	width: 325px;
	height: 138px
}

#comp-kdi1bi5w {
	width: 325px;
	height: 145px
}

#comp-kdi0vs5f {
	width: 455px;
	height: 455px
}

#comp-kdi1pw02 {
	width: 383px;
	height: 40px
}

#comp-kdi1th3z {
	width: 328px;
	height: 409px
}

#comp-kdi23upl {
	width: 325px;
	height: 203px
}

#comp-kdi1zdap {
	width: 325px;
	height: 174px
}

#comp-kdi1th3m {
	width: 396px;
	height: 396px
}

#comp-k28qs1lv {
	width: 205px;
	height: 205px
}

#comp-k0med568 {
	width: 179px;
	height: 32px
}

#comp-k0med56b {
	width: 51px;
	height: 5px
}

#comp-k0med56k {
	width: 277px;
	height: 20px
}

#comp-k0med56n {
	width: 375px
}

#comp-k0med56p {
	width: 111px;
	height: 25px
}

@font-face {
	font-display: block;
	font-family: "Avenir-LT-W01_85-Heavy1475544";
	src: url("http://static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix");
	src: url("http://static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix") format("eot"), url("http://static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/d513e15e-8f35-4129-ad05-481815e52625.woff2") format("woff2"), url("http://static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/61bd362e-7162-46bd-b67e-28f366c4afbe.woff") format("woff"), url("http://static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/ccd17c6b-e7ed-4b73-b0d2-76712a4ef46b.ttf") format("truetype"), url("http://static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/20577853-40a7-4ada-a3fb-dd6e9392f401.svg#20577853-40a7-4ada-a3fb-dd6e9392f401") format("svg");
}

#klk7a {
	min-height: 550px;
	width: auto
}

#comp-k0med54x {
	--bg-overlay-color: transparent;
	--padding: 0px;
	--margin: 0px;
	min-width: 980px
}

#comp-k238y4od {
	--bg-overlay-color: transparent;
	--padding: 0px;
	--margin: 0px;
	min-width: 980px
}

#comp-k0med55g {
	--bg-overlay-color: rgb(var(--color_11));
	width: 100%;
	--column-width: 980px;
	--column-flex: 980
}

#comp-k238y4rq {
	/* --bg-overlay-color: rgb(var(--color_31)); */
	--bg-overlay-color: #101820FF;
	width: 100%;
	--column-width: 980px;
	--column-flex: 980
}

#comp-k0med55z {
	--brw: 0px;
	--brd: 170, 231, 192;
	--bg: 170, 231, 192;
	--rd: 0px;
	--shd: none;
	--alpha-bg: 1;
	--alpha-brd: 1;
	--boxShadowToggleOn-shd: none;
	--shc-mutated-brightness: 85, 116, 96
}

#comp-k0med55k {
	--f10: var(--font_10);
	--f0: var(--font_0);
	--f1: var(--font_1);
	--f2: var(--font_2);
	--f3: var(--font_3);
	--f4: var(--font_4);
	--f5: var(--font_5);
	--f6: var(--font_6);
	--f7: var(--font_7);
	--f8: var(--font_8);
	--f9: var(--font_9);
	min-height: 96px;
	height: auto
}

#comp-k0med55w {
	--f10: var(--font_10);
	--f0: var(--font_0);
	--f1: var(--font_1);
	--f2: var(--font_2);
	--f3: var(--font_3);
	--f4: var(--font_4);
	--f5: var(--font_5);
	--f6: var(--font_6);
	--f7: var(--font_7);
	--f8: var(--font_8);
	--f9: var(--font_9);
	min-height: 67px;
	height: auto
}

#comp-k0med55p {
	--rd: 100px 100px 100px 100px;
	--trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
	--shd: none;
	--fnt: normal normal normal 14px/1.4em avenir-lt-w01_85-heavy1475544, sans-serif;
	--trans2: color 0.4s ease 0s;
	--txt: var(--color_15);
	--brw: 2px;
	--bg: var(--color_11);
	--brd: var(--color_15);
	--bgh: var(--color_18);
	--brdh: var(--color_12);
	--txth: var(--color_11);
	--bgd: 204, 204, 204;
	--alpha-bgd: 1;
	--brdd: 204, 204, 204;
	--alpha-brdd: 1;
	--txtd: 255, 255, 255;
	--alpha-txtd: 1;
	--boxShadowToggleOn-shd: none;
	--alpha-txt: 1;
	--alpha-brdh: 1;
	--alpha-brd: 0;
	--alpha-txth: 1;
	--alpha-bg: 1;
	--alpha-bgh: 0;
	--shc-mutated-brightness: 0, 40, 128;
	--label-align: center;
	--label-text-align: center
}

#comp-k0med55t {
	--rd: 100px 100px 100px 100px;
	--trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
	--shd: none;
	--fnt: normal normal normal 14px/1.4em avenir-lt-w01_85-heavy1475544, sans-serif;
	--trans2: color 0.4s ease 0s;
	--txt: var(--color_15);
	--brw: 1px;
	--bg: var(--color_11);
	--brd: var(--color_15);
	--bgh: var(--color_18);
	--brdh: var(--color_12);
	--txth: var(--color_11);
	--bgd: 204, 204, 204;
	--alpha-bgd: 1;
	--brdd: 204, 204, 204;
	--alpha-brdd: 1;
	--txtd: 255, 255, 255;
	--alpha-txtd: 1;
	--boxShadowToggleOn-shd: none;
	--alpha-txt: 1;
	--alpha-brdh: 0;
	--alpha-brd: 1;
	--alpha-txth: 1;
	--alpha-bg: 0;
	--alpha-bgh: 1;
	--shc-mutated-brightness: 128, 128, 128;
	--label-align: center;
	--label-text-align: center
}

#comp-kdhs6yca {
	--rd: 100px 100px 100px 100px;
	--trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
	--shd: none;
	--fnt: normal normal normal 14px/1.4em avenir-lt-w01_85-heavy1475544, sans-serif;
	--trans2: color 0.4s ease 0s;
	--txt: var(--color_15);
	--brw: 1px;
	--bg: var(--color_11);
	--brd: var(--color_15);
	--bgh: var(--color_18);
	--brdh: var(--color_12);
	--txth: var(--color_11);
	--bgd: 204, 204, 204;
	--alpha-bgd: 1;
	--brdd: 204, 204, 204;
	--alpha-brdd: 1;
	--txtd: 255, 255, 255;
	--alpha-txtd: 1;
	--boxShadowToggleOn-shd: none;
	--alpha-txt: 1;
	--alpha-brdh: 0;
	--alpha-brd: 1;
	--alpha-txth: 1;
	--alpha-bg: 0;
	--alpha-bgh: 1;
	--shc-mutated-brightness: 128, 128, 128;
	--label-align: center;
	--label-text-align: center
}

#comp-kdhymjjn {
	--f10: var(--font_10);
	--f0: var(--font_0);
	--f1: var(--font_1);
	--f2: var(--font_2);
	--f3: var(--font_3);
	--f4: var(--font_4);
	--f5: var(--font_5);
	--f6: var(--font_6);
	--f7: var(--font_7);
	--f8: var(--font_8);
	--f9: var(--font_9);
	height: auto
}

#comp-kdhzfy34 {
	--f10: var(--font_10);
	--f0: var(--font_0);
	--f1: var(--font_1);
	--f2: var(--font_2);
	--f3: var(--font_3);
	--f4: var(--font_4);
	--f5: var(--font_5);
	--f6: var(--font_6);
	--f7: var(--font_7);
	--f8: var(--font_8);
	--f9: var(--font_9);
	height: auto
}

#comp-kdhyrc1t {
	--contentPaddingLeft: 0px;
	--contentPaddingRight: 0px;
	--contentPaddingTop: 0px;
	--contentPaddingBottom: 0px;
	--height: 388px;
	--width: 600px
}

#comp-kdhzw57t {
	--f10: var(--font_10);
	--f0: var(--font_0);
	--f1: var(--font_1);
	--f2: var(--font_2);
	--f3: var(--font_3);
	--f4: var(--font_4);
	--f5: var(--font_5);
	--f6: var(--font_6);
	--f7: var(--font_7);
	--f8: var(--font_8);
	--f9: var(--font_9);
	height: auto
}

#comp-kdhzeoml {
	--f10: var(--font_10);
	--f0: var(--font_0);
	--f1: var(--font_1);
	--f2: var(--font_2);
	--f3: var(--font_3);
	--f4: var(--font_4);
	--f5: var(--font_5);
	--f6: var(--font_6);
	--f7: var(--font_7);
	--f8: var(--font_8);
	--f9: var(--font_9);
	height: auto
}

#comp-kdhztxor {
	--contentPaddingLeft: 0px;
	--contentPaddingRight: 0px;
	--contentPaddingTop: 0px;
	--contentPaddingBottom: 0px;
	--height: 337px;
	--width: 600px
}

#comp-kdi08zy5 {
	--contentPaddingLeft: 0px;
	--contentPaddingRight: 0px;
	--contentPaddingTop: 0px;
	--contentPaddingBottom: 0px;
	--height: 363px;
	--width: 600px
}

#comp-kdhyxzay {
	--f10: var(--font_10);
	--f0: var(--font_0);
	--f1: var(--font_1);
	--f2: var(--font_2);
	--f3: var(--font_3);
	--f4: var(--font_4);
	--f5: var(--font_5);
	--f6: var(--font_6);
	--f7: var(--font_7);
	--f8: var(--font_8);
	--f9: var(--font_9);
	height: auto
}

#comp-kdi27ax8 {
	--contentPaddingLeft: 0px;
	--contentPaddingRight: 0px;
	--contentPaddingTop: 0px;
	--contentPaddingBottom: 0px;
	--height: 227px;
	--width: 188px
}

#comp-kdi2itjo {
	--contentPaddingLeft: 0px;
	--contentPaddingRight: 0px;
	--contentPaddingTop: 0px;
	--contentPaddingBottom: 0px;
	--height: 165px;
	--width: 249px
}

#comp-kdi2ace2 {
	--contentPaddingLeft: 0px;
	--contentPaddingRight: 0px;
	--contentPaddingTop: 0px;
	--contentPaddingBottom: 0px;
	--height: 227px;
	--width: 192px
}

#comp-kdi2itju {
	--contentPaddingLeft: 0px;
	--contentPaddingRight: 0px;
	--contentPaddingTop: 0px;
	--contentPaddingBottom: 0px;
	--height: 165px;
	--width: 263px
}

#comp-kdi0oup5 {
	--f10: var(--font_10);
	--f0: var(--font_0);
	--f1: var(--font_1);
	--f2: var(--font_2);
	--f3: var(--font_3);
	--f4: var(--font_4);
	--f5: var(--font_5);
	--f6: var(--font_6);
	--f7: var(--font_7);
	--f8: var(--font_8);
	--f9: var(--font_9);
	height: auto
}

#comp-kdi0ufn4 {
	--f10: var(--font_10);
	--f0: var(--font_0);
	--f1: var(--font_1);
	--f2: var(--font_2);
	--f3: var(--font_3);
	--f4: var(--font_4);
	--f5: var(--font_5);
	--f6: var(--font_6);
	--f7: var(--font_7);
	--f8: var(--font_8);
	--f9: var(--font_9);
	height: auto
}

#comp-kdi0vs51 {
	--contentPaddingLeft: 0px;
	--contentPaddingRight: 0px;
	--contentPaddingTop: 0px;
	--contentPaddingBottom: 0px;
	--height: 751px;
	--width: 600px
}

#comp-kdi1fokn {
	--f10: var(--font_10);
	--f0: var(--font_0);
	--f1: var(--font_1);
	--f2: var(--font_2);
	--f3: var(--font_3);
	--f4: var(--font_4);
	--f5: var(--font_5);
	--f6: var(--font_6);
	--f7: var(--font_7);
	--f8: var(--font_8);
	--f9: var(--font_9);
	height: auto
}

#comp-kdi0vs5j {
	--contentPaddingLeft: 0px;
	--contentPaddingRight: 0px;
	--contentPaddingTop: 0px;
	--contentPaddingBottom: 0px;
	--height: 500px;
	--width: 400px
}

#comp-kdi1lhfu {
	--f10: var(--font_10);
	--f0: var(--font_0);
	--f1: var(--font_1);
	--f2: var(--font_2);
	--f3: var(--font_3);
	--f4: var(--font_4);
	--f5: var(--font_5);
	--f6: var(--font_6);
	--f7: var(--font_7);
	--f8: var(--font_8);
	--f9: var(--font_9);
	min-height: 138px;
	height: auto
}

#comp-kdi1bi5w {
	--f10: var(--font_10);
	--f0: var(--font_0);
	--f1: var(--font_1);
	--f2: var(--font_2);
	--f3: var(--font_3);
	--f4: var(--font_4);
	--f5: var(--font_5);
	--f6: var(--font_6);
	--f7: var(--font_7);
	--f8: var(--font_8);
	--f9: var(--font_9);
	min-height: 138px;
	height: auto
}

#comp-kdi0vs5f {
	--contentPaddingLeft: 0px;
	--contentPaddingRight: 0px;
	--contentPaddingTop: 0px;
	--contentPaddingBottom: 0px;
	--height: 455px;
	--width: 455px
}

#comp-kdi1pw02 {
	--f10: var(--font_10);
	--f0: var(--font_0);
	--f1: var(--font_1);
	--f2: var(--font_2);
	--f3: var(--font_3);
	--f4: var(--font_4);
	--f5: var(--font_5);
	--f6: var(--font_6);
	--f7: var(--font_7);
	--f8: var(--font_8);
	--f9: var(--font_9);
	height: auto
}

#comp-kdi1th3z {
	--contentPaddingLeft: 0px;
	--contentPaddingRight: 0px;
	--contentPaddingTop: 0px;
	--contentPaddingBottom: 0px;
	--height: 409px;
	--width: 328px
}

#comp-kdi23upl {
	--f10: var(--font_10);
	--f0: var(--font_0);
	--f1: var(--font_1);
	--f2: var(--font_2);
	--f3: var(--font_3);
	--f4: var(--font_4);
	--f5: var(--font_5);
	--f6: var(--font_6);
	--f7: var(--font_7);
	--f8: var(--font_8);
	--f9: var(--font_9);
	min-height: 138px;
	height: auto
}

#comp-kdi1zdap {
	--f10: var(--font_10);
	--f0: var(--font_0);
	--f1: var(--font_1);
	--f2: var(--font_2);
	--f3: var(--font_3);
	--f4: var(--font_4);
	--f5: var(--font_5);
	--f6: var(--font_6);
	--f7: var(--font_7);
	--f8: var(--font_8);
	--f9: var(--font_9);
	min-height: 138px;
	height: auto
}

#comp-kdi1th3m {
	--contentPaddingLeft: 0px;
	--contentPaddingRight: 0px;
	--contentPaddingTop: 0px;
	--contentPaddingBottom: 0px;
	--height: 396px;
	--width: 396px
}

#comp-k28qs1lv {
	--shd: none;
	--brw: 0px;
	--brd: var(--color_22);
	--contentPaddingLeft: 0px;
	--contentPaddingRight: 0px;
	--contentPaddingBottom: 0px;
	--contentPaddingTop: 0px;
	--alpha-brd: 1;
	--boxShadowToggleOn-shd: none;
	--height: 205px;
	--width: 205px
}

#comp-k0med568 {
	--f10: var(--font_10);
	--f0: var(--font_0);
	--f1: var(--font_1);
	--f2: var(--font_2);
	--f3: var(--font_3);
	--f4: var(--font_4);
	--f5: var(--font_5);
	--f6: var(--font_6);
	--f7: var(--font_7);
	--f8: var(--font_8);
	--f9: var(--font_9);
	height: auto
}

#comp-k0med56b {
	--lnw: 2px;
	--brd: var(--color_15);
	--alpha-brd: 1;
	transform-origin: center 1px
}

#comp-k0med56k {
	--f10: var(--font_10);
	--f0: var(--font_0);
	--f1: var(--font_1);
	--f2: var(--font_2);
	--f3: var(--font_3);
	--f4: var(--font_4);
	--f5: var(--font_5);
	--f6: var(--font_6);
	--f7: var(--font_7);
	--f8: var(--font_8);
	--f9: var(--font_9);
	height: auto
}

#comp-k0med56n {
	--brw: 0px;
	--brd: var(--color_15);
	--bg: var(--color_11);
	--rd: 0px;
	--shd: -11.31px 11.31px 25px 0px rgba(138, 131, 124, 0.23);
	--alpha-bg: 1;
	--alpha-brd: 1;
	--shc-mutated-brightness: 128, 128, 128
}

#comp-k0med56p {
	--item-size: 25px;
	--item-margin: 0 18px 0 0;
	--item-display: inline-block;
	width: 111px;
	height: 25px
}

#pageBackground_klk7a {
	--bg-position: absolute;
	--bg-overlay-color: rgb(var(--color_31))
}
