/* --------------------------------------------------------------
/* =SUPER GLOBAL
-------------------------------------------------------------- */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  line-height: 1.6;
  padding: 2vw 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: #d7d7d7;
  color: #0f0f0f;
}
::selection {
  color: #0f0f0f;
  background: rgba(0,0,0,0.1);
}
.container {
  width: 100%;
  max-width: 620px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
}


/* --------------------------------------------------------------
/* =ELEMENTS & TYPO / Kind of Branding basic definition area
-------------------------------------------------------------- */
p {
  font-weight: 400;
  font-size: 1.1em;
  line-height: 180%;
  margin: 20px 0;
}
p.small {
  font-size: 0.7em;
  color: #666;
}
a {
  color: #0f0f0f;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border-bottom: 2px solid #0f0f0f;
}
a:hover {
  color: #0f0f0f;
  border-bottom: 2px solid #0f0f0f;
}
.tag {
  background: rgba(0,0,0,0.1);
  padding: 0 4px;
}
h1.main-title {
  font-size: 28px;
  font-weight: normal;
  font-weight: 600;
}
h1.main-title sub {
  font-size: 20px;
  font-weight: 400;
}
h2 {
  font-size: 14px;
  margin: 2vw 0 0 0;
  font-weight: 700;
  color: rgba(0,0,0,0.3);
}
.container img {
  margin-bottom: 0px;
}
img.fluid-width {
  display: block;
  width: 100%;
  height: auto;
}
.centered-image {
  margin: 20px auto;
  display: block;
}
/*header, section {
   padding-bottom: 5vw; 
}*/
footer {
  padding-top: 3vw;
}
.hero-image {
  margin-bottom: 3vw;
}


/* --------------------------------------------------------------
/* =SMARTPHONE
-------------------------------------------------------------- */
@media screen and (max-width: 600px) {
  p {
    line-height: 180%;
    font-size: 1em;
  }
  h1.main-title {
    font-size: 1.5em;
  }
  p.small {
    line-height: 160%;
    font-size: 0.6em;
  }
  header, section {
    padding-bottom: 10vw;
  }
  .hero-image {
    margin-bottom: 6vw;
  }
}
